{#
/**
 * @file
 * Default theme implementation for the competition lucky number form.
 *
 * Available variables:
 * - form: The form element.
 *
 * @ingroup templates
 */
#}
<div class="form-header">
    <span class="big-white">{% trans %}Number of scans{% endtrans %}</span><br />
    <span>{% trans %}of this bottle{% endtrans %}:</span>
    <div class="scans-counter"><strong>{{ form.scansCounter }}</strong></div>
    <hr>
    {{ form.header }}
</div>

<form{{ attributes }}>{{ form|without('scansCounter', 'result', 'header') }}</form>

<div class="form-footer">
    {{ form.result }}
</div>